{:paths   ["src/main"]
 :deps    {org.clojure/clojure        {:mvn/version "1.11.1"}
           org.clojure/clojurescript  {:mvn/version "1.11.60"}
           funcool/promesa            {:mvn/version "10.0.582"}
           applied-science/js-interop {:mvn/version "0.3.3"}}

 :aliases {:dev      {:extra-paths ["src/dev"]
                      :extra-deps  {binaryage/devtools   {:mvn/version "1.0.6"}
                                    cider/cider-nrepl    {:mvn/version "0.29.0"}
                                    thheller/shadow-cljs {:mvn/version "2.20.16"}}}

           :test     {:extra-paths ["src/test"]
                      :extra-deps  {org.slf4j/slf4j-nop    {:mvn/version "2.0.6"}
                                    lambdaisland/kaocha    {:mvn/version "1.71.1119"}
                                    io.github.jarppe/match {:git/tag "v0.0.2"
                                                            :git/sha "84473a4"}}}

           :outdated {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}}}
