name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: "16"

      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Cache Clojure deps
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: cljdeps-${{ hashFiles('shadow-cljs.edn') }}
          restore-keys: cljdeps-

      - name: Cache JS deps
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: npmdeps-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: npmdeps-

      - name: Install deps
        shell: bash
        run: npm i

      - name: Build
        shell: bash
        run: npm run release

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          folder: public
